.sponsor-10labs {
  background-image: url(../img/logos/10labs2.png);
}
.sponsor-shuttlecloud {
  background-image: url(../img/logos/shuttlecloud.png);
}
.sponsor-centraldereservas {
  background-image: url(../img/logos/centraldereservas.png);
}
.sponsor-cuentica {
  background-image: url(../img/logos/cuentica.png);
}
.sponsor-nidorobotics {
  width: 70px;
  background-image: url(../img/logos/nidorobotics.png);
}
.sponsor-semmantica {
  background-image: url(../img/logos/semmantica.jpg);
}
.sponsor-soluble {
  width: 140px;
  background-image: url(../img/logos/solublestudio.png);
}
.sponsor-540 {
  background-image: url(../img/logos/540_white.svg);
}
.sponsor-ticketea {
  background-image: url(../img/logos/ticketea.png);
}
.sponsor-etopia {
  width: 107px;
  background-image: url(../img/logos/etopia.png);
  filter: brightness(0) invert(1);
}
.sponsor-ayuntamiento {
  background-image: url(../img/logos/ayuntamiento2.jpeg);
}
.sponsor-ambar {
  background-image: url(../img/logos/ambar.png);
  filter: brightness(0) invert(1);
}
.sponsor-holaluz {
  width: 153;
  background-image: url(../img/logos/holaluz.png);
}
.sponsor-wayra {
  background-image: url(../img/logos/wayra.png);
}
.sponsor-google {
  background-image: url(../img/logos/googlestartups.png);
  width: 90px;
}
.sponsor-autentia {
  background-image: url(../img/logos/autentia_izertis_white.svg);
}
.sponsor-carto {
  width: 102px;
  background-image: url(../img/logos/carto.png);
}
.sponsor-torresburriel {
  background-image: url(../img/logos/torresburriel_white.svg);
  filter: brightness(0) invert(1);
}
.sponsor-localistico {
  background-image: url(../img/logos/localistico_2_white.svg);
}
.sponsor-millolab {
  width: 143px;
  background-image: url(../img/logos/millolab.png);
}
.sponsor-str {
  background-image: url(../img/logos/str_white.svg);
  filter: brightness(0) invert(1);
}
.sponsor-deiser {
  background-image: url(../img/logos/deiser_white.svg);
  filter: brightness(0) invert(1);
}
.sponsor-runroom {
  width: 143px;
  background-image: url(../img/logos/runroom.png);
}
.sponsor-manfred {
  background-image: url(../img/logos/manfred_white.svg);
  filter: brightness(0) invert(1);
}
.sponsor-kanbanize {
  background-image: url(../img/logos/kanbanize.png);
}
.sponsor-enreach {
  background-image: url(../img/logos/enreach.png);
}
.sponsor-ethichub {
  background-image: url(../img/logos/ethichub_white.svg);
}
.sponsor-vueling {
  background-image: url(../img/logos/vueling_white.png);
  filter: brightness(0) invert(1);
}
.sponsor-numericco {
  background-image: url(../img/logos/numericco_white.svg);
}
.sponsor-panel {
  background-image: url(../img/logos/panel_white.png);
}
.sponsor-plainconcepts {
  background-image: url(../img/logos/plainconcepts.png);
}
.sponsor-tinybird {
  background-image: url(../img/logos/tinybird.svg);
}
.sponsor-sparta {
  background-image: url(../img/logos/sparta.png);
}
.sponsor-sysdig {
  background-image: url(../img/logos/sysdig.svg);
}
.sponsor-codely {
  background-image: url(../img/logos/codely_white.svg);
}
.sponsor-qatium {
  background-image: url(../img/logos/qatium.png);
}
.sponsor-audiense {
  background-image: url(../img/logos/audiense.svg);
}
.sponsor-tetuanvalley {
  background-image: url(../img/logos/tetuanvalley_white.png);
}
.sponsor-unbocau {
  width: 90px;
  background-image: url(../img/logos/unbocau_white.png);
}
