:root {
  --main-red-color: #fe0000;
  --main-black-color: black;
  --main-white-color: white;
  --year-main-color: #bb02d6;
}

#layer-to-hide {
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  font-family: "Onest", sans-serif;
}

h1 {
  color: var(--year-main-color);
}

h2 {
  color: var(--year-main-color);
}

a {
  color: var(--year-main-color);
  text-decoration: none;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}

.light {
  font-weight: lighter;
}

.top-label {
  background-color: var(--main-red-color);
  color: var(--main-black-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  white-space: nowrap;
  padding: 2px;
  font-weight: lighter;
  z-index: 9999;
}

.home {
  margin: auto;
  max-width: 1168px;
  text-align: center;
  position: relative;
}

.home .logo {
  position: relative;
  z-index: 2;
}

.home h1 {
  position: relative;
  margin: 0 auto;
  font-size: 74px;
  max-width: 80%;
  padding: 100px 0 100px 0;
}

@media (max-width: 1920px) {
  .home .logo {
    max-width: 80%;
    max-height: 450px;
  }
}

.home-square {
  left: 0;
  top: 20px;
  position: absolute;
}

.home-square2 {
  right: 0;
  bottom: 0;
  position: absolute;
}

.home-city {
  color: var(--main-white-color);
  font-family: "Onest", sans-serif;
  font-size: 26px;
  font-weight: bolder;
  margin-top: -10px;
}

.home-cta {
  position: relative;
  z-index: 2;
  border: 1px solid var(--year-main-color);
  background-color: var(--year-main-color);
  color: var(--main-black-color);
  border-radius: 20px;
  padding: 30px;
  text-decoration: none;
  width: auto;
  display: inline-block;
  font-family: "Onest", sans-serif;
}

.home-cta-patro, .home-cta-button {
  cursor: pointer;
  border: 1px solid var(--main-black-color);
  background-color: var(--year-main-color);
  color: var(--main-black-color);
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  font-size: 18px;
  font-weight: bolder;
  display: inline-block;
  margin: 5px;
}

.home-cta-button {
  border: 1px solid var(--main-black-color);
  background-color: var(--main-white-color);
  color: var(--main-black-color);
}

.home-cta-patro {
  border: 1px solid var(--main-black-color);
  background-color: var(--year-main-color);
  color: var(--main-white-color);
  /*color: var(--main-black-color); */
}

.home-cta-button:hover, .home-cta-patro:hover  {
  border: 1px solid var(--main-black-color);
  background-color: var(--main-black-color);
  color: var(--main-white-color);
}

.home-cta-button.agotadas, .home-cta-button:hover.agotadas {
  border: 1px solid var(--main-black-color);
  background-color: var(--year-main-color);
  color: var(--main-black-color);
  opacity: 0.5;
  cursor: default;
}

.home-cta img {
  position: absolute;
  width: 150px;
  top: -20px;
  left: 60px;
}

.section {
  margin-top: 50px;
  position: relative;
}

.section-base {
  max-width: 1168px;
  margin: 50px auto 0 auto;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.col-half {
  flex-basis: calc(50% - 20px);
}

.col-half-gallery {
  flex: 50%;
}

.col-half+.col-half {
  padding-left: 100px;
}

.schedule {
  color: var(--main-white-color);
  /* color: var(--main-black-color); */
  padding: 20px 0px 50px 0px;
  display: block;
  position: relative;
}

.schedule a {
  text-decoration: underline;
  color: var(--main-black-color);
}

.schedule-bg {
  background-color: var(--year-main-color);
  margin-left: 5%;
  position: absolute;
  z-index: 0;
  width: 95%;
  height: 100%;
  border-radius: 50px 0 0 50px;
  border-bottom: 50px;
}

.schedule-time {
  text-align: right;
}

.schedule-info {
  font-family: "Onest", sans-serif;
}

.schedule-square {
  right: 0;
  top: -40px;
  position: absolute;
}

.schedule-square2 {
  left: -120px;
  bottom: 20px;
  position: absolute;
}

.schedule .section-base {
  margin-top: 0;
}

.behaviour .section-base {
  margin-top: 0;
}

.schedule h2 {
  color: var(--main-white-color);
  /* color: var(--main-black-color); */
}

.schedule table {
  margin: 0 auto;
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  width: 100%;
}

.schedule table tr:first-of-type td {
  border-top: 1px solid black;
}

.schedule table td {
  border-bottom: 1px solid black;
  padding: 5px 20px 5px 5px;
}

.schedule table td + td {
  padding-left: 20px;
}

.gallery {
  position: relative;
  margin-top: -50px;
}

.gallery-square {
  left: 0px;
  top: 60px;
  position: absolute;
  width: 200px;
}

.gallery-square2 {
  right: 0;
  bottom: 60px;
  position: absolute;
  width: 200px;
}

.button-gallery {
  display: block;
  background-color: var(--year-main-color);
  border-radius: 10px;
  padding: 50px 0 50px 0;
  text-align: center;
  text-decoration: none;
  color: var(--main-white-color);
  /* color: var(--main-black-color); */
  margin: 10px 5px;
  font-weight: bold;
  position: relative;
  z-index: 2;
  font-size: 26px;
}

.button-gallery:hover {
  opacity: 0.7;
}

.event-sponsor-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.event-sponsor-list li {
  display: inline-block;
  margin: 20px;
  background: transparent;
}

.sponsor {
  text-indent: -9999px;
  transition: all 0.4s ease-in-out;
  height: 90px;
  width: 160px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  background-size: 100%;
}

.sponsor:hover {
  opacity: 0.7;
}

.sponsor a {
  cursor: pointer;
}

.want-sponsor {
  color: var(--main-white-color);
}

.want-sponsor a {
  text-decoration: underline;
  color: var(--main-white-color);
}

#hiberus-map {
  width: 100%;
  height: 400px;
  border-radius: 20px;
}

.behaviour {
  color: var(--main-white-color);
  /* color: var(--main-black-color); */
  padding: 20px 0 50px 0;
  position: relative;
}

.behaviour-bg {
  background-color: var(--year-main-color);
  margin-right: 5%;
  position: absolute;
  z-index: 0;
  width: 95%;
  height: 100%;
  border-radius: 0 50px 50px 0;
  border-bottom: 50px;
}

.behaviour a {
  text-decoration: underline;
}

.behaviour-square {
  right: 0px;
  top: -20px;
  position: absolute;
}

.behaviour-square2 {
  left: -250px;
  bottom: 20px;
  position: absolute;
}

.behaviour h2 {
  color: var(--main-white-color);
  /* color: var(--main-black-color); */
}

.behaviour a {
  color: var(--main-white-color);
  /* color: var(--main-black-color); */
}

.behaviour p {
  padding-right: 5%;
}

.footer {
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0 20px 0;
  text-align: center;
}

.footer a {
  color: var(--main-red-color);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  font-size: 26px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@media only screen and (max-width: 1280px) {
  .schedule-bg {
    margin-left: 0;
    width: 100%;
  }

  .behaviour-bg {
    margin-right: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 940px) {
  .section-wrapper {
    flex-basis: 100%;
    display: block;
  }

  .section-wrapper.gallery {
    flex-basis: 50%;
    display: flex;
  }

  .section-base {
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-half+.col-half {
    padding-left: 0px;
  }

  .schedule table {
    font-size: 11px;
  }

  .home-square, .home-square2 {
    max-width: 200px;
  }
  
  .schedule-square, .schedule-square2, .behaviour-square, .behaviour-square2 {
    max-width: 80px;
  }

  .schedule-square2 {
    left: -60px;
  }

  .schedule .section-base {
    margin-top: 0;
    padding-left: 25px;
    padding-right: 0;
  }

  .behaviour-square2 {
    left: -80px;
  }
}

@media (max-width: 480px) {
  .section-wrapper.gallery {
    flex-basis: 100%;
    display: block;
  }

  .event-sponsor-list li {
    display: block;
  }
  .sponsor {
    margin: 0 auto;
  }
  .schedule {
    padding: 5px;
  }
  .behaviour {
    padding: 5px;
  }
  .home-square, .home-square2 {
    max-width: 100px;
  }
  
  .schedule-square, .schedule-square2, .behaviour-square, .behaviour-square2 {
    max-width: 100px;
  }

  .schedule-square2 {
    left: -60px;
  }

  .behaviour-square2 {
    left: -80px;
  }
  .home-cta-button {
    display: inline-block;
    margin-top: 10px;
  }

  .schedule-time {
    width: 50%;
  }

  .home-cta {
    padding: 15px;
  }
}

/*
 ----------- Scroll text -------- 
 */
.top-label {
  overflow: hidden;
  white-space: nowrap;
}

.top-label-marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 30s linear infinite;
}

.top-label-marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

